
  <h1>Iniciar sesion Cliente</h1>
        <label><b>Usuario</b></label>
        <input type="text" placeholder="Usuario"  [(ngModel)]="usuario"  name="uname" >

        <label><b>Pass</b></label>
        <input type="text" placeholder="Email"  [(ngModel)]="email" name="psw" >

        <button (click)="login()">Ingresar</button>
        <button (click)="register()">Registrar</button>

        <!-- <button (click)="register()">Ver clientes</button> -->
        <button type="button" class="cancelbtn">Cancelar</button>


