.divClass {
    text-align: center;
    color:#9d1fd8;;
    background-color: rgb(243, 183, 71);
    position: absolute;
    /*nos posicionamos en el centro del navegador*/
    top:55%;
    left:50%;
    /*determinamos una anchura*/
    max-width:400px;
    
    /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left:-200px;
    /*determinamos una altura*/
    max-height:350px;
    /*indicamos que el margen superior, es la mitad de la altura*/
    margin-top:-150px;
    border:5px solid #c36ff3;
    padding:5px;
    
}
.bodyClass {
    background-color: rgb(240, 193, 122);
    width:100%;
    /* initial-scale:1.0; */
}
.imagen {
    position: relative;
    /*nos posicionamos en el centro del navegador*/
    /* top:50%; */
    /* left:20%; */
    width: 220px;
    height: 220px;
}
h1 {
    font: menu;
    font-size: 28pt;
    width: 100%;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

.divImg { 
    text-align: center;
}