
<!-- <form>
  <h3>Ejemplo NgModel</h3> -->
 <!-- <div *ngIf= "estado; else otroComponente"> -->
<!-- <div>
Nombre: <input type="text" [(ngModel)]="nombre"/>
<br/>
Mail: <input type="text" [(ngModel)]="mail"/>
<br/>
</div>
</form> -->


<!-- <ng-template #otroComponente>
  <p>El valor de la variable es: {{estado}}</p>
  <p>Nombre: {{nombre}}</p>
  <p>: {{mail}}</p>
</ng-template> -->

<!-- <button (click)="Manejadora()">cambio estado</button> -->
<!-- <button (click)="Manejadora()">Agregar</button> -->


